body {

  /* background-color: rgba(0,0,0,0.4); */
  background-color: #eae7dc;
  /* color: #1D1D1B; */
  color: #404040;
  /* opacity: 0.5; */
  background-image: linear-gradient(to bottom right, #f7f7f7, #eae7dc 75%);
  /* min-height: calc(100vh - 1.75vw - 1.75vw); */
  min-height: 100vh;
}

.main { /* src */
  box-shadow: 0 0 2.5vw rgba(0,0,0,.1);
  padding-left: 1.25vw;
  padding-right: 1.25vw;
  border-radius: 3px;
  border-width: 0;
  background-color: #fff;
  margin: 1.75vw 0 1.75vw 44px;
  position: relative;
  top: 3rem;
}

.App {
  text-align: center;
}

.c-modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* This must be at a higher index to the rest of your page content */
  transform: translateZ(0);
  background-color: rgba(255, 255, 255, 0.55);
  /* background-color: white; */
  /* opacity: .; */
}

/* .c-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @media screen and (min-width: 500px) {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
} */

.c-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
  /* overflow-y: auto; */
  /* -webkit-overflow-scrolling: touch; */

  /* @media screen and (min-width: 500px) {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  } */
}

.form-header {
  font-size: 1.5rem;
  /* font-family: 'Proza Libre', sans-serif; */
}

form {
  display: block;
}

form p {
  /* float: left; */
  /* width: 25%; */
  display: inline-block;
}

form label { /* for radio button */
  /* display: inline-block; */
  /* float: left; */
  /* width: 25%; */
  display: inline-block;
  padding-top: 15px;
}

.is-public--sub-form {
  display: inline-block;
}

.is-public--sub-form label {
  display: inline-block;
  margin: 0 0 0 .5rem;
}

/* form input[type="text"], form input[type="url"] { */
form input:not([type='submit']):not([type='radio']), form select {
  width: 95%;
  /* float: left; */
  /* box-shadow: inset 0 1px 1px 0 hsla(0, 0%, 0%, 0.04); */
  border-width: 0 0 2px;
  border-color: #ddd;
  /* border-radius: 0; */
  margin: 0 0 5px 10px;
  font-size: .8rem;
}

form input[type="submit"] {
  display: inline-block;
  width: 100%;
  font-family: 'Proza Libre', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #eae7dc;
  padding: 8px;
  border: none;
  color: #4B4B2F;
  font-weight: 600;
}

form input[type="submit"]:hover, [name='note-form'] button:hover {
  background-color: #D8C3A5;
  color: #E98074;
  outline: 0;
  box-shadow:  0px 0px 5px #E98074;
}

.delete-btn {
  display: inline-block;
  width: 100%;
  font-family: 'Proza Libre', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  color: #4B4B2F;
  padding: 8px;
  margin: 8px 0;
}

.delete-btn:hover {
  background-color: #D8C3A5;
  color: #E98074;
  outline: 0;
  box-shadow:  0px 0px 5px #E98074;
}

.c-modal__close, .form-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em;
  line-height: 1;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

.c-modal__close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
  pointer-events: none;
}

.c-modal__body {
  font-family: 'Proza Libre', sans-serif;
  padding-top: .25em;
}

.u-hide-visually {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* original */
/* .side-nav + .main {
  transition: margin-left .5s;
  padding: 20px;
  margin-left: 250px;
  opacity: .5;
} */

/* original */
/* .side-nav {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 25px;
  transition: 0.5s;
  border-right-style: solid;
  border-right-color: #E98074;
  font-family: 'Proza Libre', sans-serif;
} */

.side-nav + .main {
  transition: margin-left .5s;
  /* padding: 20px; */
  /* margin-left: 35%; */
  /* opacity: .5; */
}

.side-nav {
  height: 100%;
  /* width: 0px; */
  width: 50%;
  position: fixed;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  margin-top: 50%;
  display: block;
  /* top: 50%; */
  /* left: 50%; */
  background-color: transparent;
  /* overflow-x: hidden;  */
  /* padding-top: 25px; */
  font-family: 'Proza Libre', sans-serif;
}

.top-nav {
  position: fixed;
  width: 100%;
  /* background-color: transparent; */
  background-color: rgba(255, 255, 255, .75);
  display: block;
  top: 0;
  z-index: 2;
  border: none;
}

.top-nav--centered {
  font-family: 'Proza Libre', sans-serif;
  font-size: 2rem;
}

.top-nav--transparent {
  background-color: transparent;
}

.nav-btn {
  padding: 8px;
  display: block;
  margin-bottom: 1rem;
  margin-left: .5rem;
  background: transparent;
  /* background-color: #EAE7DC; */
  /* font-weight: bold; */
  /* width: 85%; */
  /* border-top-color: #d8d8d8;
  border-right-color: #d1d1d1;
  border-bottom-color: #bababa;
  border-left-color: #d1d1d1; */
  font-family: 'Proza Libre', sans-serif;
  font-size: 1rem;
  border: none;
  /* border-bottom-style: inset; */
  /* box-shadow: inset 0 -0.15em #cbcece; */
}

.nav-btn:hover {
  /* background-color: #E98074;  */
  background-color: #D8C3A5;
  color: #E98074;
}

#close-menu {
  background: transparent;
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-style: none;
}

.formula-box {
  padding: 2rem 2rem;

}

.formula-head {
  display: grid;
  padding: 1rem;
  /* border: 10px solid #E2E2E2; */
  /* border-radius: .5rem; */
  box-shadow: 0 0.3rem hsl(0, 0%, 80%), 0 1rem hsl(0, 0%, 90%);
}

.formula-head h2 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: normal;
  font-size: 2.5rem;
  margin: 0;
}

.formula-head p {
  font-family: 'Proza Libre', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.formula-card:before {
  content: ' ';
  display: block;;
  position:absolute;
  top: 0;
  background-color: #ddd;
  height: 1px;
  left: 1.25vw;
  right: 1.25vw;
  box-sizing: border-box;
}

.formula-card {
  border: 5px solid white;
  width: 85%;
  padding: 1rem;
  margin: 1rem;
  position: relative;
}

.formula-card--link {
  color: #000;
  text-decoration: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.formula-card--link:hover h4, .formula-card--link:hover p{
  box-shadow: inset 0 -.3rem #E98074;
  background-color: #D8C3A5;
  cursor: pointer;
}

.formula-card h4 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3rem;
  font-weight: normal;
  margin-block-end: .1em;
}

.formula-card p {
  font-family: 'Proza Libre', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.formulae-count {
  font-family: 'Cormorant Garamond', serif;
  font-weight: normal;
  padding-left: 2rem;
  color: #757575;
}

.formulae-count strong {
  color: black;
  font-size: 1rem;
}

.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  position: relative;
}

.element-box {
  padding: 1rem;
  border: 1px solid white;
  border-radius: .5rem;
  position: relative;
}

.element-box h3 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: normal;
  font-size: 2rem;
}

.element-box p {
  font-family: 'Proza Libre', sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

.element-box:after {
  content: ' ';
  display: block;;
  position: absolute;
  /* top: 0; */
  bottom: 0;
  background-color: #ddd;
  height: .1rem;
  /* width: 100%; */
  left: 1.25vw;
  right: 1.25vw;
  box-sizing: border-box;
}

.iframe-box {
  overflow: hidden;
  padding-top: 56.25%; /*16:9 */
  position: relative;
}

.iframe-box iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.note-box {
  max-height: 16em;
  overflow: auto;
  /* box-shadow: 0 0.5vw 0.5vw 0 rgba(0,0,0,.2); */
  margin-bottom: 3em;
  margin-top: 2em;
  background-color: rgba(242, 242, 242, 0.5);
  padding: 1.25vw;
  font-size: .5rem;
  /* border: 1px solid #efefef; */
  /* border-radius: 3px; */
}

.note-box h4 {
  font-size: 1rem;
  font-weight: normal;
  font-family: 'Proza Libre', sans-serif;
  padding: 2px;
  margin: 0;
  border-bottom: 3px solid white;
}

.notes {
  position: relative;
  border-bottom: .12em solid white;
  margin: 10px;
}

/* button[name='delete'] {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
} */

p.note-time {
  display: inline-block;
  font-size: .8rem;
  color: #4F4F4F;
}

.delete-circle-times {
  /* width: 25px; */
  /* height: 25px; */
  /* fill: transparent; */
  /* stroke: black; */
  stroke-linecap: round;
  stroke-width: 2;
  pointer-events: none;
}

.delete-circle {
  stroke: #7ac142;
}

.delete-x {
  stroke: #7ac142;
}

.notes p {
  margin: 0 0 .5em 0;;
}

.notes span {
  margin-right: 0.5em;
}

.notes-footer {
  margin-left: 1em;
}

[name='note-form'] {
  font-family: 'Proza Libre', sans-serif;
  display: inline-block;
  width: 100%;
}

[name='note-form'] textarea {
  width: 98%;
}

[name='note-form'] button {
  font-family: 'Proza Libre', sans-serif;
  width: 100%;
  cursor: pointer;
}

.add-note-btn {
  display: inline-block;
  width: 100%;
  font-family: 'Proza Libre', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  color: #404040;
  padding: 8px;
  margin: 8px 0;
}

.far.fa-trash-alt {
  background: transparent;
  border: none;
  color: #4F4F4F;
  cursor: pointer;
  margin-left: 5%;
}

img {
  height: auto;
  width: 90%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
