body {

  /* background-color: rgba(0,0,0,0.4); */
  background-color: #eae7dc;
  color: #1D1D1B;
  /* opacity: 0.5; */
  background-image: linear-gradient(to bottom right, #f7f7f7, #eae7dc 75%);
  /* min-height: calc(100vh - 1.75vw - 1.75vw); */
  min-height: 100vh;
}

.main { /* src */
  box-shadow: 0 0 2.5vw rgba(0,0,0,.1);
  padding-left: 1.25vw;
  padding-right: 1.25vw;
  border-radius: 3px;
  border-width: 0;
  background-color: #fff;
  margin: 1.75vw 0 1.75vw 44px;
  position: relative;
  top: 3rem;
}

.App {
  text-align: center;
}

.c-modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* This must be at a higher index to the rest of your page content */
  transform: translateZ(0);
  background-color: rgba(color(white), 0.05);
  /* background-color: white; */
  /* opacity: 10%; */
}

/* .c-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @media screen and (min-width: 500px) {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
} */


.c-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  /* width: 100%; */
  height: auto;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
  /* overflow-y: auto; */
  /* -webkit-overflow-scrolling: touch; */

  /* @media screen and (min-width: 500px) {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  } */
}

.c-modal__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

.c-modal__close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.c-modal__body {
  padding-top: .25em;
}

.u-hide-visually {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* original */
/* .side-nav + .main {
  transition: margin-left .5s;
  padding: 20px;
  margin-left: 250px;
  opacity: .5;
} */

/* original */
/* .side-nav {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 25px;
  transition: 0.5s;
  border-right-style: solid;
  border-right-color: #E98074;
  font-family: 'Proza Libre', sans-serif;
} */

.side-nav + .main {
  transition: margin-left .5s;
  /* padding: 20px; */
  /* margin-left: 35%; */
  /* opacity: .5; */
}

.side-nav {
  height: 100%;
  /* width: 0px; */
  width: 50%;
  position: fixed;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  margin-top: 50%;
  display: block;
  /* top: 50%; */
  /* left: 50%; */
  background-color: transparent;
  /* overflow-x: hidden;  */
  /* padding-top: 25px; */
  font-family: 'Proza Libre', sans-serif;
}

.top-nav {
  position: fixed;
  width: 100%;
  /* background-color: transparent; */
  background-color: rgba(255, 255, 255, .75);
  display: block;
  top: 0;
  z-index: 2;
  border: none;
}

.top-nav--centered {
  font-family: 'Proza Libre', sans-serif;
  font-size: 2rem;
}

.top-nav--transparent {
  background-color: transparent;
}

.nav-btn {
  padding: 8px;
  display: block;
  margin-bottom: 1rem;
  margin-left: .5rem;
  background: transparent;
  /* background-color: #EAE7DC; */
  /* font-weight: bold; */
  /* width: 85%; */
  /* border-top-color: #d8d8d8;
  border-right-color: #d1d1d1;
  border-bottom-color: #bababa;
  border-left-color: #d1d1d1; */
  font-family: 'Proza Libre', sans-serif;
  font-size: 1rem;
  border: none;
  /* border-bottom-style: inset; */
  /* box-shadow: inset 0 -0.15em #cbcece; */
}

.nav-btn:hover {
  /* background-color: #E98074;  */
  background-color: #D8C3A5;
  color: #E98074;
}

#close-menu {
  background: transparent;
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-style: none;
}

.formula-box {
  padding: 4rem 2rem;

}

.formula-head {
  display: grid;
  padding: 1rem;
  border: 10px solid #E2E2E2;
  border-radius: .5rem;
}

.formula-card:before {
  content: ' ';
  display: block;;
  position:absolute;
  top: 0;
  background-color: #ddd;
  height: 1px;
  left: 1.25vw;
  right: 1.25vw;
  box-sizing: border-box;
}

.formula-card {
  border: 5px solid white;
  width: 85%;
  padding: 1rem;
  margin: 1rem;
  position: relative;
}

.formula-card--link {
  color: #000;
  text-decoration: none;
  border: none;
  text-align: left;
}

.formula-card--link:hover h4, .formula-card--link:hover p{
  box-shadow: inset 0 -.3rem #E98074;
  background-color: #D8C3A5;
}

.formula-card h4 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3rem;
  font-weight: normal;
  margin-block-end: .1em;
}

.formula-card p {
  font-family: 'Proza Libre', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.formulae-count {
  font-family: 'Cormorant Garamond', serif;
  font-weight: normal;
  padding-left: 2rem;
  color: #757575;
}

.formulae-count strong {
  color: black;
  font-size: 1rem;
}

.elements {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.element-box {
  padding: 1rem;
  border: 1px solid white;
  border-radius: .5rem;
}

.iframe-box {
  overflow: hidden;
  padding-top: 56.25%; /*16:9 */
  position: relative;
}

.iframe-box iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.note-box {
  max-height: 16em;
  overflow: auto;
  border-style: groove;
}

img {
  height: auto;
  width: 90%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
